.home {
    height: 100vh;
    background-color: var(--primaryDarkColor);
    color : var(--clr);
    z-index: 1;
}

/* تأثير الانزلاق من الأعلى إلى الأسفل */
.slide-down {
    animation: slideDown 0.5s ease-in-out forwards;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

/* تأثير الانزلاق للأعلى عند الإغلاق */
.slide-up {
    animation: slideUp 0.5s ease-in-out forwards;
}

@keyframes slideUp {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}