.app-container {
    background-color: var(--primaryDarkColor);
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider-container {
    width: 100%;
}

.map {
    width: 97vw; /* استخدام عرض الشاشة بالكامل */
    margin: auto;
    height: 70vh; /* استخدام ارتفاع الشاشة بالكامل */
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
}
